/* ==========================================================================
   Resume Section
   ========================================================================== */

   .exp-list {
    li {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.exp-date {
    margin-bottom: 10px;

    i {
        background-color: $main-color;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        display: inline-block;
        margin-right: 10px;
    }
}