/* =======  Google Fonts  ======= */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Teko:400,500,600,700&amp;display=swap');

/* ==========================================================================
   Global Properties
   ========================================================================== */

// * {
//     margin: 0;
//     padding: 0;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     outline: none;
//     list-style: none;
//     word-wrap: break-word;
// }

body {
    font-family: $font-main;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $body-color;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        font-size: 16px;
        line-height: 28px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        font-size: 17px;
        line-height: 30px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        font-size: 18px;
        line-height: 32px;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        font-size: 19px;
        line-height: 34px;
    }
}

p {
    font-family: $font-main;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 20px;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        font-size: 16px;
        line-height: 28px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        font-size: 17px;
        line-height: 30px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        font-size: 18px;
        line-height: 32px;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        font-size: 19px;
        line-height: 34px;
    }
}

h1 {
    font-size: 60px;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        font-size: 48px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        font-size: 54px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        font-size: 60px;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        font-size: 66px;
    }

    // Extra-extra large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        font-size: 72px;
    }

    // Ultra large devices (larger desktops, 1600px and up)
    @media (min-width: 1600px) {
        font-size: 78px;
    }
}


.section-padding {
    padding: 50px 0;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        padding: 60px 0;
        font-size: 16px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        padding: 70px 0;
        font-size: 18px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        padding: 80px 0;
        font-size: 20px;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        padding: 100px 0;
        font-size: 22px;
    }

    // Extra-extra large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        padding: 120px 0;
        font-size: 24px;
    }

    // Ultra large devices (larger desktops, 1600px and up)
    @media (min-width: 1600px) {
        padding: 140px 0;
        font-size: 26px;
    }
}
