.portfolio{
    text-align: center;
    padding: 1em 0 ;
    background: $port-color;


    //    h1{
    //        font-size:3em;
    //    }
    
   

}


.portfolio-items{
    display:flex;
    flex-wrap:wrap;
  @include container($max-width:47em);


    


}



.portfolio-item{
    position: relative;
    overflow: hidden;
    flex: 1 1 20rem;
    margin:  0em 0em;


    img{
        display:block;
        max-width:  auto;
        height: auto;

        

    
        
        
        
    }

    &:hover , 
    &:focus {
        figcaption{
            top:0 !important;
            background:blue;
        }

       
    }


}

.portfolio-item figcaption {
    position: absolute;
    top:100%;
    bottom:0;
    right:0;
    left:0;
    padding:2em;
    
    background: green;
    color:white;
    text-align:left;
    display:flex;
    flex-direction: column;
    transition: top ease-in-out 250ms;
   
   
 

}

.portfolio-title{
    color: $white;
    font-size: 2.5rem;
    align-self: flex-end;
    margin-bottom: auto;

    .featured & {
        font-size:4rem;
    }
}


.portfolio-desc{
    display:none !important;
    


}

.portfolio-link{
    color:white;
    font-weight: $fw-b;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 2px solid $white;
    align-self: flex-start;

    &::after{
        content: url(../img/arrow2.svg);
        display:inline-block;
        height: 1em;
        width: 1em;
        margin-left: 2em;
        

    }

}



@supports (display:grid){
     
    @include mq(){
      

    }

    .portfolio-items{
        display:grid;
        grid-template-columns:  repeat(2, 1fr);
        gap: .08em;
  
      
       // @include container($width: 47em);
       

        
        @include mq($width:768px){
            grid-template-columns: repeat(4,12em);
            grid-template-rows: repeat(2, 6em);
            column-gap: .4em;
            row-gap: .3em;
            justify-content: center;
            @include container($max-width:40);
            
            
            
   

        }
     
        
    }

    .portfolio-item.featured{
        grid-column:  1/ span 2;
        grid-row : 1/ span 2;
    }

    .featured{
        .portfolio-title{
            font-size: 5rem;
        }
   
        .portfolio-desc{
            display:block;
        }
    }


}